In [18]:
import pandas as pd
import numpy as np

In [19]:
df= pd.read_csv(r"C:\Users\EDWARD SEODI\Downloads\sales_data_250_rows.csv")
df.head()

,Order_ID,Order_Date,Customer_ID,Region,Product_Category,Product_Name,Units_Sold,Unit_Price,Discount_Percent,Sales_Rep
0,1001,2024-01-01,2102,East,Clothing,Product_C,16.0,382.51,2.48,Alice
1,1002,2024-01-02,2435,North,Electronics,Product_D,13.0,301.86,18.09,Charlie
2,1003,2024-01-03,2860,South,Clothing,Product_B,14.0,241.07,7.36,Eva
3,1004,2024-01-04,2270,North,Furniture,Product_A,3.0,211.80,11.68,Alice
4,1005,2024-01-05,2106,North,Clothing,Product_B,6.0,180.95,8.66,Eva

Lets check the null values

In [17]:
df.isnull().sum()

Order_ID            0
Order_Date          0
Customer_ID         0
Region              0
Product_Category    0
Product_Name        0
Units_Sold          0
Unit_Price          0
Discount_Percent    0
Sales_Rep           0
dtype: int64

Now, lets check the type of this columns that have null values

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_ID          250 non-null    int64
 1   Order_Date        250 non-null    object
 2   Customer_ID       250 non-null    int64
 3   Region            235 non-null    object
 4   Product_Category  250 non-null    object
 5   Product_Name      250 non-null    object
 6   Units_Sold        235 non-null    float64
 7   Unit_Price        250 non-null    float64
 8   Discount_Percent  235 non-null    float64
 9   Sales_Rep         250 non-null    object
dtypes: float64(3), int64(2), object(5)
memory usage: 19.7+ KB

We see that 1.Region is an object
2. Units sold is a float
3. Discount_percent is a float

In [21]:
print("Null before cleaning:")
print(df.isnull().sum())

Null before cleaning:
Order_ID             0
Order_Date           0
Customer_ID          0
Region              15
Product_Category     0
Product_Name         0
Units_Sold          15
Unit_Price           0
Discount_Percent    15
Sales_Rep            0
dtype: int64

In [22]:
df_before= df.copy()

In [23]:
df['Units_Sold']=df['Units_Sold'].fillna(df['Units_Sold'].mean())
df['Discount_Percent']= df['Discount_Percent'].fillna(df['Discount_Percent'].mean())
df['Region']= df['Region'].replace(0,np.nan).fillna('South')

In [29]:
print('Null count after cleaning: ')
print(df.isnull().sum())

Null count after cleaning:
Order_ID            0
Order_Date          0
Customer_ID         0
Region              0
Product_Category    0
Product_Name        0
Units_Sold          0
Unit_Price          0
Discount_Percent    0
Sales_Rep           0
dtype: int64

In [26]:
df_before.compare(df)

    Region        Units_Sold           Discount_Percent
      self  other       self     other             self      other
5      NaN  South        NaN       NaN              NaN        NaN
13     NaN  South        NaN       NaN              NaN        NaN
30     NaN    NaN        NaN       NaN              NaN  15.789021
36     NaN    NaN        NaN  9.834043              NaN        NaN
39     NaN  South        NaN  9.834043              NaN        NaN
47     NaN    NaN        NaN  9.834043              NaN        NaN
52     NaN    NaN        NaN       NaN              NaN  15.789021
53     NaN    NaN        NaN       NaN              NaN  15.789021
54     NaN    NaN        NaN       NaN              NaN  15.789021
55     NaN    NaN        NaN  9.834043              NaN        NaN
56     NaN    NaN        NaN       NaN              NaN  15.789021
61     NaN    NaN        NaN       NaN              NaN  15.789021
70     NaN    NaN        NaN       NaN              NaN  15.789021
71     NaN    NaN        NaN  9.834043              NaN        NaN
89     NaN    NaN        NaN  9.834043              NaN        NaN
94     NaN  South        NaN       NaN              NaN        NaN
102    NaN    NaN        NaN       NaN              NaN  15.789021
107    NaN  South        NaN       NaN              NaN        NaN
130    NaN    NaN        NaN       NaN              NaN  15.789021
131    NaN    NaN        NaN       NaN              NaN  15.789021
134    NaN  South        NaN       NaN              NaN        NaN
138    NaN    NaN        NaN  9.834043              NaN        NaN
140    NaN    NaN        NaN  9.834043              NaN        NaN
145    NaN  South        NaN       NaN              NaN        NaN
154    NaN    NaN        NaN       NaN              NaN  15.789021
155    NaN  South        NaN       NaN              NaN        NaN
160    NaN    NaN        NaN  9.834043              NaN        NaN
161    NaN  South        NaN  9.834043              NaN        NaN
162    NaN    NaN        NaN       NaN              NaN  15.789021
164    NaN    NaN        NaN       NaN              NaN  15.789021
173    NaN  South        NaN       NaN              NaN        NaN
175    NaN    NaN        NaN       NaN              NaN  15.789021
179    NaN    NaN        NaN  9.834043              NaN        NaN
181    NaN    NaN        NaN  9.834043              NaN        NaN
187    NaN  South        NaN       NaN              NaN        NaN
188    NaN    NaN        NaN       NaN              NaN  15.789021
189    NaN  South        NaN       NaN              NaN        NaN
191    NaN  South        NaN       NaN              NaN        NaN
213    NaN  South        NaN       NaN              NaN        NaN
215    NaN    NaN        NaN  9.834043              NaN        NaN
216    NaN    NaN        NaN  9.834043              NaN        NaN
220    NaN  South        NaN       NaN              NaN        NaN
233    NaN    NaN        NaN  9.834043              NaN        NaN

Let's check if the region column contains any other value

In [28]:
df_before['Region'].unique()

array(['East', 'North', 'South', nan, 'West'], dtype=object)

So is it possible that Region column might contain '' or ' ' "NaN" or 'nan' and during my cleaning i only focused on cleaning zeros?

In [30]:
print(df['Region'].unique())

['East' 'North' 'South' 'West']

In [31]:
print(df.isnull().sum())

Order_ID            0
Order_Date          0
Customer_ID         0
Region              0
Product_Category    0
Product_Name        0
Units_Sold          0
Unit_Price          0
Discount_Percent    0
Sales_Rep           0
dtype: int64

In [33]:
print(df['Units_Sold'].mean())
print(df['Discount_Percent'].mean())

9.834042553191487
15.789021276595744

Let's check if there any rows that still contain null values

In [34]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Order_ID, Order_Date, Customer_ID, Region, Product_Category, Product_Name, Units_Sold, Unit_Price, Discount_Percent, Sales_Rep]
Index: []

In [35]:
df_before.compare(df)

    Region        Units_Sold           Discount_Percent
      self  other       self     other             self      other
5      NaN  South        NaN       NaN              NaN        NaN
13     NaN  South        NaN       NaN              NaN        NaN
30     NaN    NaN        NaN       NaN              NaN  15.789021
36     NaN    NaN        NaN  9.834043              NaN        NaN
39     NaN  South        NaN  9.834043              NaN        NaN
47     NaN    NaN        NaN  9.834043              NaN        NaN
52     NaN    NaN        NaN       NaN              NaN  15.789021
53     NaN    NaN        NaN       NaN              NaN  15.789021
54     NaN    NaN        NaN       NaN              NaN  15.789021
55     NaN    NaN        NaN  9.834043              NaN        NaN
56     NaN    NaN        NaN       NaN              NaN  15.789021
61     NaN    NaN        NaN       NaN              NaN  15.789021
70     NaN    NaN        NaN       NaN              NaN  15.789021
71     NaN    NaN        NaN  9.834043              NaN        NaN
89     NaN    NaN        NaN  9.834043              NaN        NaN
94     NaN  South        NaN       NaN              NaN        NaN
102    NaN    NaN        NaN       NaN              NaN  15.789021
107    NaN  South        NaN       NaN              NaN        NaN
130    NaN    NaN        NaN       NaN              NaN  15.789021
131    NaN    NaN        NaN       NaN              NaN  15.789021
134    NaN  South        NaN       NaN              NaN        NaN
138    NaN    NaN        NaN  9.834043              NaN        NaN
140    NaN    NaN        NaN  9.834043              NaN        NaN
145    NaN  South        NaN       NaN              NaN        NaN
154    NaN    NaN        NaN       NaN              NaN  15.789021
155    NaN  South        NaN       NaN              NaN        NaN
160    NaN    NaN        NaN  9.834043              NaN        NaN
161    NaN  South        NaN  9.834043              NaN        NaN
162    NaN    NaN        NaN       NaN              NaN  15.789021
164    NaN    NaN        NaN       NaN              NaN  15.789021
173    NaN  South        NaN       NaN              NaN        NaN
175    NaN    NaN        NaN       NaN              NaN  15.789021
179    NaN    NaN        NaN  9.834043              NaN        NaN
181    NaN    NaN        NaN  9.834043              NaN        NaN
187    NaN  South        NaN       NaN              NaN        NaN
188    NaN    NaN        NaN       NaN              NaN  15.789021
189    NaN  South        NaN       NaN              NaN        NaN
191    NaN  South        NaN       NaN              NaN        NaN
213    NaN  South        NaN       NaN              NaN        NaN
215    NaN    NaN        NaN  9.834043              NaN        NaN
216    NaN    NaN        NaN  9.834043              NaN        NaN
220    NaN  South        NaN       NaN              NaN        NaN
233    NaN    NaN        NaN  9.834043              NaN        NaN

In [36]:
changed_rows = df_before.ne(df).any(axis= 1)
df_before[changed_rows]

,Order_ID,Order_Date,Customer_ID,Region,Product_Category,Product_Name,Units_Sold,Unit_Price,Discount_Percent,Sales_Rep
5,1006,2024-01-06,2071,NaN,Clothing,Product_A,18.0,465.47,10.67,Eva
13,1014,2024-01-14,2458,NaN,Clothing,Product_A,5.0,373.15,6.45,Alice
30,1031,2024-01-31,2276,West,Clothing,Product_C,5.0,236.71,NaN,Eva
36,1037,2024-02-06,2747,West,Food,Product_C,NaN,198.11,27.52,David
39,1040,2024-02-09,2474,NaN,Clothing,Product_A,NaN,315.88,13.38,Alice
47,1048,2024-02-17,2189,West,Food,Product_D,NaN,271.40,25.48,Eva
52,1053,2024-02-22,2875,East,Furniture,Product_C,8.0,131.76,NaN,Charlie
53,1054,2024-02-23,2566,West,Furniture,Product_A,7.0,374.53,NaN,David
54,1055,2024-02-24,2243,East,Furniture,Product_D,2.0,26.43,NaN,Alice
55,1056,2024-02-25,2831,East,Food,Product_D,NaN,289.25,27.76,Alice
56,1057,2024-02-26,2504,West,Clothing,Product_A,18.0,383.60,NaN,David
61,1062,2024-03-02,2020,West,Clothing,Product_C,17.0,424.76,NaN,David
70,1071,2024-03-11,2776,West,Clothing,Product_D,7.0,350.03,NaN,Bob
71,1072,2024-03-12,2345,North,Clothing,Product_A,NaN,275.93,17.89,Charlie
89,1090,2024-03-30,2387,West,Food,Product_C,NaN,462.02,0.64,Alice
94,1095,2024-04-04,2771,NaN,Clothing,Product_C,6.0,217.82,29.94,Eva
102,1103,2024-04-12,2201,North,Clothing,Product_A,15.0,71.08,NaN,Bob
107,1108,2024-04-17,2815,NaN,Electronics,Product_A,4.0,205.51,3.31,Charlie
130,1131,2024-05-10,2014,North,Food,Product_A,15.0,16.42,NaN,Bob
131,1132,2024-05-11,2812,East,Clothing,Product_C,11.0,335.13,NaN,David
134,1135,2024-05-14,2838,NaN,Electronics,Product_A,4.0,82.84,6.92,Alice
138,1139,2024-05-18,2647,South,Electronics,Product_D,NaN,256.08,23.39,Charlie
140,1141,2024-05-20,2062,North,Electronics,Product_C,NaN,42.87,1.74,Eva
145,1146,2024-05-25,2674,NaN,Clothing,Product_C,14.0,103.44,5.22,Bob
154,1155,2024-06-03,2134,North,Clothing,Product_B,18.0,206.37,NaN,Charlie
155,1156,2024-06-04,2200,NaN,Electronics,Product_D,6.0,284.22,17.40,Charlie
160,1161,2024-06-09,2047,South,Furniture,Product_D,NaN,192.92,26.66,Alice
161,1162,2024-06-10,2502,NaN,Electronics,Product_A,NaN,142.66,28.67,Eva
162,1163,2024-06-11,2406,South,Clothing,Product_C,17.0,325.56,NaN,Bob
164,1165,2024-06-13,2727,East,Clothing,Product_C,12.0,22.44,NaN,David
173,1174,2024-06-22,2738,NaN,Furniture,Product_A,15.0,61.01,6.61,Charlie
175,1176,2024-06-24,2942,West,Electronics,Product_D,15.0,97.49,NaN,David
179,1180,2024-06-28,2004,East,Furniture,Product_B,NaN,129.15,17.77,David
181,1182,2024-06-30,2502,North,Clothing,Product_D,NaN,429.29,10.43,Bob
187,1188,2024-07-06,2206,NaN,Furniture,Product_A,2.0,449.20,19.75,Eva
188,1189,2024-07-07,2014,South,Clothing,Product_D,13.0,16.37,NaN,David
189,1190,2024-07-08,2857,NaN,Clothing,Product_B,6.0,51.90,26.02,Charlie
191,1192,2024-07-10,2891,NaN,Clothing,Product_C,1.0,23.00,25.11,Bob
213,1214,2024-08-01,2698,NaN,Food,Product_A,15.0,401.93,7.79,David
215,1216,2024-08-03,2085,East,Electronics,Product_D,NaN,21.01,16.20,Charlie
216,1217,2024-08-04,2795,West,Electronics,Product_B,NaN,141.65,23.40,Eva
220,1221,2024-08-08,2573,NaN,Food,Product_B,6.0,78.28,28.89,David
233,1234,2024-08-21,2347,North,Clothing,Product_B,NaN,416.57,18.63,Charlie